import os

def get_nova_creds(id):
    d = {}
    if id == 'dkg':
        d['username'] = 'xxxxxxx'
        d['api_key'] = 'xxxxxxx'
        d['auth_url'] = 'https://xxxxxxxxxxxxxxxxxxxxx/keystone/v2.0'
        d['project_id'] = 'xxxxxx'
        
    return d

#def get_keystone_creds():
#    d = {}
#    d['username'] = os.environ['OS_USERNAME']
#    d['password'] = os.environ['OS_PASSWORD']
#    d['auth_url'] = os.environ['OS_AUTH_URL']
#    d['tenant_name'] = os.environ['OS_TENANT_NAME']
#    return d
#
#def get_neutron_creds():
#    d = {}
#    d['username'] = os.environ['OS_USERNAME']
#    d['password'] = os.environ['OS_PASSWORD']
#    d['tenant_name'] = os.environ['OS_TENANT_NAME']
#    d['auth_url'] = os.environ['OS_AUTH_URL']
#    return d
#
#get_cinder_creds = get_nova_creds
#
