<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>HCC</title>
        <script type='text/javascript' src='//code.jquery.com/jquery-1.10.2.min.js'></script>
    </head>
    <body>
        <h1>HCC, Hyper Clustering Computing</h1>
        <form id='sendForm' action='/' method='POST' style="display:inline-block">
            <input type='text'     name='username' placeholder='Your Name' />
            <input type='password' name='password' placeholder='Your Password' />
            <input type="submit"/>
        </form><br />
        <script type='text/javascript'>
        </script>
    </body>
</html>
